body {
  font-size: 12px;
  color: white;
  background: #242424;
}

.mainCon {
  margin-top: 70px;
}

.mainCon audio {
  width: 250px;
  margin-left: 54px;
  position: absolute;
  top: 186px;
}

.songList {
  margin-top: 20px;
  width: 360px;
}

.songList th {
  font-size: 14px;
  padding-bottom: 3px;
  border-bottom: 1px solid #D70000;
}

.songView:hover {
  /*background: #D70000;*/
  cursor: default;
}

.artist {
  width: 70px;
  margin-right: 10px;
  padding: 3px 0;
}
.detail {
  cursor: pointer;
}
.detail:hover {
  color: #D70000;
}
.song {
  width: 215px;
}

.playerPic {
  width: 300px;
  height: 225px;
  background-image: url('../images/music.jpeg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.playerPic img {
  width: 300px;

}

.songDetails {
  position: absolute;
  top: -36px;
}
.songDetails h1, .songDetails h2 {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.songDetails h1 {
  font-weight: normal;
}
.songDetails h2 {
  font-weight: bold;
  padding-top: 3px;
}
